@import "../../scss/variables";

.boards {
  display: flex;
  justify-content: space-between;
}

.board {
  width: 33%;

  &_title {
    text-align: center;
    font-weight: 500;
    padding: 5px;
    margin-bottom: 10px;
  }

  &_content {
    display: flex;
    flex-direction: column;
    background-color: $bg-secondary;
    border-radius: 5px;
    padding: 10px;
  }
}
