@import "~normalize.css";
@import "variables";

*,
*:after,
*:before {
  padding: 0;
  margin: 0;
  list-style: none;
  outline: none;
  border: none;
  box-sizing: border-box;
}

a:active,
a:hover,
a {
  text-decoration: none;
  color: inherit;
}

html,body {
  height: 100%;
  width: 100%;
  background-color: #000000;
  font-family: "Inter", sans-serif;
  color: $text-primary;
}

.wrapper {
  margin: 0 auto;
}
